


body{
   background-color: hsl(212, 45%, 89%);
   margin:0;
   padding: 0;
   font-family: "Outfit", sans-serif;
}

.container{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.card{
  width:300px;
  height:490px;
  background-color: hsl(0, 0%, 100%);
  margin:auto;
  border-radius: 18px;
  /* padding:5px; */

}
.img-container{
  border-radius: 9px;
  /* background-color: black; */
  width:270px;
  height:270px;
  margin:auto;
}
#image{
  margin-top: 14px;
  width:270px;
  height:270px;
  border-radius: 9px;
}

.textcontainer{
  margin-top: 40px;
  /* width:280px; */
  height: auto;
  /* background-color: purple; */
  text-align:  center;
}
h2{
  font-weight: 700;
}
p{
  color: hsl(220, 15%, 55%);
  margin-top: -10px;
  font-weight: 400;
  font-size: 15px;
  padding:20px
}

.attribution{
  padding-top: 40px;
}
